<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>易合新闻</title>
<link rel="stylesheet" type="text/css" th:href="${base}+'/css/style.css'">
</head>

<body>
<!--top-->
<div id="top"  th:include="front/index :: header">
    header
</div>

<!--中间部分-->

<div id="center">
    <div class="m">
        <div id="Left" class="fl">
          <ul class="Left_m">
                <li class="Left_img fl"></li> 
                <li class="Left_tit fl">
                    <p>新闻类别</p>
                    <span>News Class</span>
                </li>
                <div class="clear"></div>
            </ul>
            <ul id="nav">
                <li>
                    <span class="icon"></span>
                    <a th:href="${base}+'/front/list/ttxw/1'">头条新闻</a>
                </li>
                <li>
                    <span class="icon"></span>
                    <a th:href="${base}+'/front/list/shxw/1'">社会新闻</a>
                </li>
                <li>
                    <span class="icon"></span>
                    <a th:href="${base}+'/front/list/yszx/1'">娱乐新闻</a>
                </li>
                <li>
                    <span class="icon"></span>
                    <a th:href="${base}+'/front/list/tyxw/1'">体育新闻</a>
                </li>
                <li>
                    <span class="icon"></span>
                    <a th:href="${base}+'/front/list/cjxw/1'">财经新闻</a>
                </li>
                <li>
                    <span class="icon"></span>
                    <a th:href="${base}+'/front/list/jsxw/1'">军事新闻</a>
                </li>
                <li>
                    <span class="icon"></span>
                    <a th:href="${base}+'/front/list/gjxw/1'">国际新闻</a>
                </li>
                <li>
                    <span class="icon"></span>
                    <a th:href="${base}+'/front/list/jkxw/1'">健康新闻</a>
                </li>
            </ul>
        </div>
        <!--右边部分-->
      <div id="Right" class="fr">
        <div class="bg">
            <!--历程-->
            <div class="Con">
                <ul>
                    <li th:each="c,iterInfo:${contents}">
                        <a class="course" th:href="${c.link}?  ${c.link} : ${base}+'/front/info?contentId='+${c.contentId}" th:text="${c.title}">杭州一巡察组长发现一单位节日不发福利：该发不发</a>
                        <span class="date" th:text="${c.createTime}">2018-05-02</span>
                    </li>
                </ul>
            </div>
            <!--分页功能-->
            <div id="pag" th:if="${total} gt '1'"> 
                <a  th:href="${path}+${pg+1}" th:each="pg : ${#numbers.sequence(0, total - 1)}" th:text="${pg + 1}">1</a>
            </div>
        </div>
      </div>

    <div class="clear"></div>
    </div>
</div>

<!--footer-->
<div id="footer" th:include="front/index :: footer">
    footer
</div>
</body>
</html>
